header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 777;
  width: 100%;
  height: 10rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

menu {
  display: flex;
  justify-content: space-between;
  gap: 3em;
  font-size: 2rem;
}

.logo {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 3rem;
}
.logo:before {
  content: "<";
  font-size: 3rem;
  color: var(--icon-color);
  font-weight: 700;
}
.logo:after {
  content: "/>";
  font-size: 3rem;
  color: var(--icon-color);
  font-weight: 700;
}

#toggle {
  position: relative;
  width: 80px;
  height: 40px;
  border-radius: 160px;
  background: #222;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

#toggle .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transform: scale(0.9);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.2),
    inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  transition: 0.5s;
}
