.profile {
  font-size: 5rem;
  text-shadow: 1px 2px #333;
}

.profile__name {
  color: var(--primary-color);
  font-size: 4rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96vw;
  height: 70vh;
  border-radius: 12px;
  background-image: url("../../../assets/images/BcgTech.gif");
  background-repeat: repeat;
  background-size: cover;
  background-position: initial;
  padding-top: 0;
  box-shadow: inset 0 -40px 40px #000;
}

.profile h1,
.profile span {
  animation: has-shown 2s ease-in-out forwards;
}

@keyframes has-shown {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
