html {
  font-size: 62.5%;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #8885;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #8888;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: #888;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}
.App {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:root {
  --primary-color: #0d78c5;
  --icon-color: #aaf4e1;
  --dark-bcg: #242424;
  --text-white: rgba(255, 255, 255, 0.87);

  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}
