.to-top {
  position: fixed;
  z-index: 1000;
  bottom: 800px;
  right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  visibility: hidden;
  color: #0d78c5;
  font-size: 2.2rem;
  border-radius: 50%;
  background-color: #213547;
  box-shadow: inset 0px 1px 8px var(--icon-color);
  transition: 0.5s;
  opacity: 0;
}
.to-top.appear-on-scroll {
  visibility: visible;
  opacity: 1;
  bottom: 40px;
}

a:has(.icon-to_top) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}